.verification{

    &__sendAgain{
        font-weight: 400;
        cursor: pointer;
    }

    &__form{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

            &__div{
                display: flex;
                gap: 10px;
            }

            &__input{
                border: none;
                outline: none;
                border-bottom: 0.5px solid #A7A7A7;
                width: 25px;
                color: #414141;
                text-align: center;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
            }

            &__input:focus{
                border-bottom: 0.5px solid #414141;
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type="number"] {
                -moz-appearance: textfield;
            }

            button{
                background: #FFE031;
                border-radius: 10px;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #414141;
                height: 44px;
                border: none;
                cursor: pointer;
            }
    }
}

@media (max-width: 730px) {
    .verification{
        width: 100%;

        &__form{
            width: 100%;
            
            input{
                width: 100%;
            }

        }
    }
}