.profile{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__div1{
        padding: 0px 16px;

        &__pic{
            display: block;
            margin: 32px auto 0;
            height: 64px;
            width: 64px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-top: 32px;
        }

        h1{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #414141;
            margin-bottom: 32px;
        }

        &__buttons{
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__button{
                background: #F2F2F2;
                border-radius: 10px;
                display: flex;
                padding: 0px 16px;
                align-items: center;
                justify-content: space-between;
                height: 44px;
                cursor: pointer;

                div{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img{
                    height: 16px;
                    width: 16px;
                }

                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #414141;
                }
            }
        }
    }
}

.profile__div1__buttons__link{
    text-decoration: none;
}