.carouselButtons__Payment{
    .swiper {
            width: 100%;
            height: 32px;
            margin-left: 16px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide div {
            display: flex;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            gap: 18px;
            background: #F2F2F2;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #6C6C6C;
            width: 105px;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }

        .swiper-slide,
        swiper-slide {
            flex-shrink: unset !important;
        }
}

.newOrder{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0px 0px 16px;

        img{
            cursor: pointer;
        }

        h1{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #414141;
        }
    }

    &__deliverTo{
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #414141;
        margin: 32px 0px 10px 16px;
    }

    &__address{
        display: flex;
        margin: 0px 16px 32px 16px;
        justify-content: space-between;
        align-items: center;

        div{
            display: flex;
            align-items: center;
            gap: 17px;
        }

        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #414141;
        }

        &__location{
            height: 16px;
            width: 16px;
        }
    }

    &__payment{
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #414141;
        margin: 0px 0px 10px 16px;
    }

    &__itemsContainer{
        display: flex;
        flex-direction: column;
        margin: 54px 16px 27px 16px;
        gap: 16px;

        &__item{
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__div{
                display: flex;
                align-items: center;
                gap: 10px;

                div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 16px;
                    width: 66px;
                    height: 22px;
                    background: #F2F2F2;
                    border-radius: 10px;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: -0.3px;
                    color: #414141;
                    
                    button{
                        border: none;
                    }
                }

                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.3px;
                    color: #414141;
                }

                &__trash{
                    cursor: pointer;
                    width: 20px !important;
                    height: 20px !important;
                }
            }

            img{
                border-radius: 10px;
                width: 44px;
                height: 44px;
                object-fit: cover;
            }

            &__price{
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.3px;
                color: #A7A7A7;
            }

            
        }
    }

    &__note{
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #414141;
        margin: 0px 0px 10px 16px;
    }

    &__noteArea{
        min-height: 44px;
        border: none;
        border: 1px solid #A7A7A7;
        border-radius: 10px;
        width: 100%;
        // margin: 0px 32px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: #414141;
        padding: 0px 16px;
    }

    &__noteArea::placeholder{
        font-size: 14px;
        line-height: 16px;
        color: #A7A7A7;
    }

    &__down{
        margin: 100px 16px 60px 16px;

        &__div1{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.3px;
            color: #414141;
            padding-bottom: 10px;
            border-bottom: 1px solid #A7A7A7;
            display: flex;
            flex-direction: column;
            gap: 10px;

            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__div2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.3px;
            color: #414141;

            &__total{
                font-size: 20px;
                line-height: 17px;
                margin-bottom: 32px;
                margin-top: 22px;
            }
        }

        &__order{
            background: #FFE031;
            border-radius: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            height: 45px;
            width: 100%;
            padding: 0px 16px;
            color: #414141;
            border: none;
            margin-bottom: 60px;
        }
    }
}

@media (min-width: 730px) {
    .carouselButtons__Payment{
    .swiper {
            width: 100%;
            height: 32px;
            margin-left: 16px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide div {
            display: flex;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            gap: 18px;
            background: #F2F2F2;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #6C6C6C;
            width: 105px;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }

        .swiper-slide,
        swiper-slide {
            flex-shrink: unset !important;
        }
}

.newOrder{

    &__header{
        padding: 12px 0px 0px 40px;

        h1{
            font-size: 18px;
        }
    }

    &__deliverTo{
        font-size: 24px;
        margin: 32px 0px 10px 40px;
    }

    &__address{
        margin: 0px 40px 32px 40px;

        p{
            font-size: 18px;
        }

        &__location{
            height: 20px;
            width: 20px;
        }
    }

    &__payment{
        font-size: 24px;
        margin: 0px 0px 10px 40px;
    }

    &__itemsContainer{
        margin: 54px 40px 27px 40px;

        &__item{
            height: 100px;;

            &__div{
                gap: 10px;

                div{
                    width: 66px;
                    height: 40px;
                    font-size: 14px;
                }

                p{
                    font-size: 18px;
                }

                &__trash{
                    width: 25px !important;
                    height: 25px !important;
                }
            }

            img{
                width: 80px;
                height: 80px;
            }

            &__price{
                font-size: 18px;
            }

            
        }
    }

    &__note{
        font-size: 24px;
        margin: 0px 0px 10px 40px;
    }

    &__noteArea{
        font-size: 18px;
        padding: 0px 16px;
    }

    &__noteArea::placeholder{
        font-size: 18px;
    }

    &__down{
        margin: 100px 40px 60px 40px;

        &__div1{
            font-size: 18px;
        }

        &__div2{
            font-size: 18px;

            &__total{
                font-size: 24px;
            }
        }

        &__order{
            font-size: 16px;
            
        }
    }
}
}