.footer{
    display: flex;
    padding: 9px 34px;
    gap: 50px;
    height: 37px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;

    &__div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;

        &__active{
            width: 5px;
            height: 5px;
            
        }
    }
}