@import "./components/splash/splash.scss";
@import "./components/slide/slide.scss";
@import "./components/login/login.scss";
@import "./components/loginNumber/loginNumber.scss";
@import "./components/verification/verification.scss";
@import "./components/createAccount/createAccount.scss";
@import "./components/location/location.scss";
@import "./components/home/home.scss";
@import "./components/search/search.scss";
@import "./components/orders/orders.scss";
@import "./components/profile/profile.scss";
@import "./components/loginEmail/loginEmail.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
};

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
};

.swal2-styled.swal2-confirm {
    background-color: #FFE031;
    color: #414141;
    border: none;
}

.swal2-confirm,
.swal2-cancel {
  border: none !important;
}





